<app-landing-panel></app-landing-panel>
<div class="container p-0">
  <div class="row">
    <div class="col-12 col-lg-6 pb-5 pb-lg-0">
      <div class="row mb-4">
        <div class="col">
          <app-shopping-navigation></app-shopping-navigation>
        </div>
      </div>
      <div class="row justify-content-around align-items-center">
        <div class="col-auto pb-5" style="height: fit-content">
          <app-qand-abox></app-qand-abox>
        </div>
        <div
          class="col-auto d-flex align-items-center"
          style="height: fit-content; min-height: 300px; min-width: 280px;
            background: url('assets/img/landingpage/Books_SVG.svg') no-repeat center center / contain;
          "
        >
          <div
            class="fb-group"
            data-href="https://www.facebook.com/groups/azubiviet"
            data-width="280"
            data-show-metadata="true"
          >
            <blockquote
              cite="https://www.facebook.com/groups/azubiviet"
              class="fb-xfbml-parse-ignore"
            ></blockquote>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="row mb-5">
        <div class="col">
          <app-user-abi-card></app-user-abi-card>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <app-newest-qand-a></app-newest-qand-a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-particle-bg></app-particle-bg>
