<div class="row mb-2">
  <div class="col">
    <mat-form-field appearance="standard">
      <mat-label>Post filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Type something..." #input>
    </mat-form-field>
  </div>
</div>
<table mat-table [dataSource]="dataSource" style="width: 100%">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef style="width: 80%">Name</th>
    <td mat-cell *matCellDef="let element">{{ element.post_title }}</td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef style="text-align: center">Action</th>
    <td mat-cell *matCellDef="let element" style="text-align: center">
      <button mat-button [matMenuTriggerFor]="menu">
        <i class="fal fa-ellipsis-v-alt"></i>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editlesson(element.ID)">Edit</button>
        <button mat-menu-item (click)="deletelesson(element.ID)">Delete</button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  aria-label="Select page of periodic elements"
>
</mat-paginator>
