<div class="container p-0">
  <div class="row justify-content-center">
    <div class="col-auto">
      <mat-card>
        <mat-card-content>
          <div class="row pb-3">
            <div class="col">
              <img src="assets/img/landingpage/people_SVG111.svg" class="img-fluid">
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <button mat-raised-button color="accent" (click)="openDialog()">Q & A Box</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
