:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

mat-drawer-container {
    height: inherit;
    mat-drawer {
        padding: 0.5rem;
        box-shadow: none;
        background: transparent;
    }
}

mat-drawer-content {
    overflow-x: hidden;
}

.right-sidebar {
    width: 300px
}