<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-4 pb-3" *ngFor="let item of items">
      <app-shop-item-single-card
        [item]="item"
        [cdnpath]="cdnpath"
      ></app-shop-item-single-card>
    </div>
  </div>
</div>
<div class="container-fluid fixed-bottom py-2 bg-white" *ngIf="userinfo">
  <div class="row justify-content-around">
    <div class="col-auto d-flex align-items-center">
      <img
        class="me-2"
        src="assets/img/questionmarket/icons8-coin-64.png"
        alt=""
        width="40"
        height="40"
      />
      <span class="h5 m-0">{{ userinfo.user_abicoin }}</span>
    </div>
    <div class="col-auto">
      <button mat-button (click)="openInventory()">
        <img
          src="assets/img/questionmarket/icons8-treasure-64.png"
          alt=""
          width="30"
          height="30"
        />
      </button>
    </div>
  </div>
</div>
