<div class="row">
  <div class="col text-center">
    <p class="h3 mb-4">All Your Question</p>
  </div>
</div>
<div class="container" *ngIf="tableData">
  <div class="table-container">
    <table
      mat-table
      [dataSource]="tableData"
      matSort
      matSortActive="ID"
      matSortDisableClear
      matSortDirection="desc"
      style="width: 100%"
    >
      <ng-container matColumnDef="ID">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          style="width: 20%"
        >
          ID
        </th>
        <td mat-cell *matCellDef="let item">{{ item.ID }}</td>
      </ng-container>

      <ng-container matColumnDef="post_title">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          style="width: 60%"
        >
          Title
        </th>
        <td mat-cell *matCellDef="let item">{{ item.post_title }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef style="width: 20%">Action</th>
        <td mat-cell *matCellDef="let item">
          <button [matMenuTriggerFor]="menu" mat-button>
            <i class="fal fa-ellipsis-v-alt"></i>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="emiteditID(item.ID)">
              <i class="fa-thin fa-pen-to-square"></i> Edit
            </button>
            <button mat-menu-item (click)="deleteSingleQuestion(item.ID)">
              <i class="fa-thin fa-trash-can"></i> Delete
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
