<div class="container-fluid sticky-top">
  <div class="row py-2 justify-content-between">
    <div class="col-auto">
      <button mat-button (click)="toggleLeftSidebar()">
        <i class="fa-thin fa-bars"></i>
      </button>
      <button mat-button routerLink="/learning">
        <i class="fa-thin fa-delete-left"></i>
      </button>
    </div>
    <div class="col-auto">
      <button mat-button (click)="toggleRightSidebar()">
        <i class="fa-thin fa-message-captions"></i>
      </button>
      <button mat-button [matMenuTriggerFor]="usernotifications">
        <i class="fa-thin fa-bells"></i>
      </button>
      <mat-menu #usernotifications="matMenu" [hasBackdrop]="true">
        <app-user-notification-card></app-user-notification-card>
      </mat-menu>
    </div>
  </div>
</div>
