<div class="row wrapper py-4">
    <div class="col-6 col-md-3 col-lg-6 mb-4" *ngFor="let item of navItems">
        <div class="row mb-3">
            <div class="col text-center">
                <img [src]="item.img" [alt]="item.name" width="60px" height="60px">
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button mat-stroked-button [routerLink]="item.url">
                    {{item.name}}
                </button>
            </div>
        </div>
    </div>
</div>