<div class="container p-0" style="height: 100%">
    <div class="row align-items-center" style="height: 100%">
        <div class="col" style="height: fit-content">
            <app-server-chat-card></app-server-chat-card>
            <div class="row py-3">
                <div class="col text-end">
                    <button mat-raised-button (click)="toggleRightSidebar()">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>